@charset "UTF-8";
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  body {
    line-height: 1.6;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 1.5rem;
  margin: 0.67em 0;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

a:hover {
  -webkit-transition: 0.3s;
  opacity: 0.6;
  transition: 0.3s;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  -o-object-fit: cover;
  border-style: none;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 8rem;
  max-width: 1180px;
  width: 95%;
}
@media screen and (max-width: 1179px) {
  .footer__wrapper {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    display: block;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__inner {
    margin-bottom: 4rem;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__heading {
    font-size: 2rem;
  }
}
.footer__address {
  line-height: 1.8;
}
@media screen and (max-width: 1179px) {
  .footer__address {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.4;
  }
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1179px) {
  .footer__menu {
    display: block;
  }
}
.footer__item {
  margin-left: 3rem;
}
@media screen and (max-width: 1179px) {
  .footer__item {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__item {
    border-bottom: 1px solid #dedede;
    margin-bottom: 2rem;
  }
}

.footer__item a {
  display: inline-block;
  padding: 0 0.8rem;
  position: relative;
  width: 100%;
}
.footer__item a::after {
  -webkit-transform: scale(0, 1);
  -webkit-transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  background: #333;
  bottom: -4px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
}
@media screen and (max-width: 1179px) {
  .footer__item a::after {
    content: none;
  }
}
.footer__item a:hover {
  opacity: 1;
}
@media screen and (max-width: 1179px) {
  .footer__item a:hover {
    -webkit-transition: 0.3s;
    opacity: 0.6;
    transition: 0.3s;
  }
}
.footer__item a:hover::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.copyright__text {
  background: #ec902e47;
  font-size: 1.2rem;
  line-height: 100px;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .copyright__text {
    font-size: 1.4rem;
    line-height: 50px;
  }
}

.header {
  height: 100px;
  left: 0;
  padding: 0 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}
.header__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1180px;
}
.header__heading {
  font-size: 2.2rem;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .header__heading {
    font-size: 2rem;
  }
}
.header__menu {
  margin-left: auto;
}
.header__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1179px) {
  .header__list {
    display: block;
  }
}
.header__item {
  margin-left: 3rem;
}
@media screen and (max-width: 1179px) {
  .header__item {
    margin: 0 0 3rem;
  }
}

.header__item a {
  display: inline-block;
  padding: 0 0.8rem;
  position: relative;
  width: 100%;
}
.header__item a::after {
  -webkit-transform: scale(0, 1);
  -webkit-transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  background: #333;
  bottom: -4px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
}
@media screen and (max-width: 1179px) {
  .header__item a::after {
    content: none;
  }
}
.header__item a:hover {
  opacity: 1;
}
@media screen and (max-width: 1179px) {
  .header__item a:hover {
    -webkit-transition: 0.3s;
    opacity: 0.6;
    transition: 0.3s;
  }
}
.header__item a:hover::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.hamburger {
  display: none;
}
@media screen and (max-width: 1179px) {
  .hamburger {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }
}

@media screen and (max-width: 1179px) {
  .js-hamburger {
    -webkit-box-shadow: 0 0 2rem transparent;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid #333;
    border-radius: 50%;
    box-shadow: 0 0 2rem transparent;
    height: 48px;
    margin-left: auto;
    outline: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 48px;
    z-index: 20;
  }
}
@media screen and (max-width: 767px) {
  .js-hamburger {
    height: 40px;
    width: 40px;
  }
}
@media screen and (max-width: 1179px) {
  .js-hamburger:hover, .js-hamburger:focus {
    -webkit-box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
    box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
  }
}
@media screen and (max-width: 1179px) {
  .js-hamburger__line {
    -webkit-transition: inherit;
    background-color: #333;
    bottom: 0;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: inherit;
    width: 18px;
  }
}
@media screen and (max-width: 1179px) {
  .js-hamburger__line::before, .js-hamburger__line::after {
    -webkit-transition: inherit;
    background-color: inherit;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: inherit;
    width: 100%;
  }
}
@media screen and (max-width: 1179px) {
  .js-hamburger__line::before {
    top: -5px;
  }
}
@media screen and (max-width: 1179px) {
  .js-hamburger__line::after {
    top: 5px;
  }
}

@media screen and (max-width: 1179px) {
  .js-hamburger-bg {
    background-color: #000;
    bottom: 0;
    color: #fff;
    height: 100vh;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100vw;
    z-index: 10;
  }
}

@media screen and (max-width: 1179px) {
  .is-drawer-active .js-header__menu {
    -webkit-transform: translateX(0px);
    -webkit-transition: 0.3s;
    transform: translateX(0px);
    transition: 0.3s;
  }
}
@media screen and (max-width: 1179px) {
  .is-drawer-active .js-hamburger-bg {
    -webkit-transition: 0.3s;
    opacity: 0.8;
    transition: 0.3s;
    visibility: visible;
  }
}

@media screen and (max-width: 1179px) {
  .js-hamburger[aria-expanded=true] .js-hamburger__line {
    background-color: transparent;
  }
}
@media screen and (max-width: 1179px) {
  .js-hamburger[aria-expanded=true] .js-hamburger__line::before, .js-hamburger[aria-expanded=true] .js-hamburger__line::after {
    background-color: #333;
    top: 0;
  }
}

@media screen and (max-width: 1179px) {
  .js-hamburger[aria-expanded=true] .js-hamburger__line::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 1179px) {
  .js-hamburger[aria-expanded=true] .js-hamburger__line::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 1179px) {
  .js-header__menu {
    -webkit-transform: translateX(280px);
    -webkit-transition: 0.3s;
    background-color: #fff;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    padding: 8rem 2rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(280px);
    transition: 0.3s;
    width: 280px;
    z-index: 15;
  }
}