@charset "UTF-8";

@use "../global" as g;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 3rem;
  z-index: map-get(g.$z, header);
  height: 100px;
  @include g.mq('sp') {
    height: 60px;
  }
  &__wrapper {
    max-width: g.$inner-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__heading {
    font-size: 2.2rem;
    font-weight: 700;
    @include g.mq('sp') {
      font-size: 2rem;
    }
  }
  &__menu {
    margin-left: auto;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include g.mq('tab') {
      display: block;
    }
  }
  &__item {
    margin-left: 3rem;
    @include g.mq('tab') {
      margin: 0 0 3rem;
    }
  }
}

//header menu hover
.header__item {
  @include g.menu;
}

// humburger btn
.hamburger {
  display: none;
  @include g.mq('tab') {
    display: inline-block;
    text-decoration: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.js-hamburger {
  @include g.mq('tab') {
    position: relative;
    z-index: map-get(g.$z, js-hamburger);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid g.$font-color1;
    box-shadow: 0 0 2rem transparent;
    outline: none;
    transition: all .3s ease-in-out;
    margin-left: auto;
  }
  @include g.mq('sp') {
    width: 40px;
    height: 40px;
  }
  &:hover,
  &:focus {
    @include g.mq('tab') {
      box-shadow: 0 0 .5rem rgba(161, 161, 161, 0.5);
    }
  }
  &__line {
    @include g.mq('tab') {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 18px;
      height: 2px;
      background-color: g.$font-color1;
      transition: inherit;
    }
    &::before,
    &::after {
      @include g.mq('tab') {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: inherit;
        content: '';
        transition: inherit;
      }
    }
    &::before {
      @include g.mq('tab') {
        top: -5px;
      }
    }
    &::after {
      @include g.mq('tab') {
        top: 5px;
      }
    }
  } 
}
  
//drawer-background
.js-hamburger-bg {
  @include g.mq('tab') {
    position: fixed;
    z-index: map-get(g.$z, js-hamburger-bg);
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100vh;
    background-color: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  }
}
  
// when drawer is open
.is-drawer-active {
  .js-header__menu {
    @include g.mq('tab') {
      transform: translateX(0px);
      transition: 0.3s;
    }
  }
  .js-hamburger-bg {
    @include g.mq('tab') {
      visibility: visible;
      opacity: 0.8;
      transition: 0.3s;
    }
  }
}
  
// when hamburger btn is open  
.js-hamburger[aria-expanded="true"] .js-hamburger__line {
  @include g.mq('tab') {
    background-color: transparent;
  }
  &::before,
  &::after {
    @include g.mq('tab') {
      top: 0;
      background-color: g.$font-color1;
    }
  }
}
  
.js-hamburger[aria-expanded="true"] .js-hamburger__line {
  &::before {
    @include g.mq('tab') {
      transform: rotate(45deg);
    }
  }
  &::after {
    @include g.mq('tab') {
      transform: rotate(-45deg);
    }
  }
}
  
//when header menu is open
.js-header__menu {
  @include g.mq('tab') {
    position: fixed;
    z-index: map-get(g.$z, js-header__menu);
    width: 280px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100vh;
    background-color: #fff;
    transform: translateX(280px);
    transition: 0.3s;
    padding: 8rem 2rem;
  }
}
  
  